<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kgitbank.mavenHome.model.ProductMapper">
    <insert id="insertProduct" parameterType="ProductDTO">
        insert into product values(prod_seq.nextval, #{pname}, #{pcode}, #{pcompany}, #{price},
                                   #{pspec}, #{pcontent}, #{pimage}, 0, #{point}, #{sale})
    </insert>

    <select id="listProduct" resultType="ProductDTO">
        select * from product
    </select>
</mapper>